/* Setup */
html, body {
  font: 106.3%/1.45 "proxima-nova", sans-serif; /* 16px = 100%, 18px = 112.50% as base font size */
  -webkit-font-smoothing: antialiased;
  color: #4A4A4A;
}

h1,h2,h3,h4,h5,h6 {
    font-family: bebas-neue-rounded, sans-serif;
    margin: 0;
}

/* @font-face {
    font-family: 'FinancierDisplayTestWeb', serif;
    src: url('~assets/fonts/FinancierDisplayTest-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

.serif {
    font-family: 'FinancierDisplayTestWeb', serif;
}

.sans-serif {
    font-family: bebas-neue-rounded, sans-serif;
}

.mono {
    font-family: input-mono, monospace;
}

.uppercase {
    text-transform: uppercase;
}

.hs1 {
    font-size: 48px;
    line-height: normal;
}

.hs2 {
    font-size: 34px;
    font-weight: bold;
    line-height: normal;
}

.hs3 {
    font-size: 24px;
    font-weight: 500;
}

.hs4 {
    font-size: 16px;
    font-weight: bold;
}

.bs1 {
    font-size: 24px;
}

.bs2 {
    font-size: 20px;
}

.bs3 {
    font-size: 16px;
}

.color--primary {
    color: #e3e3e3;
}

.color--white {
    color: white;
}

/* FONT AWESOME */

/* LINKS */
a {
    text-decoration: none;
    color: #0104BB;
}

/* LISTS */
.lst-n {
    list-style-type: none;
}
